/* styles/blackbutton.css */
.black-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .black-button:hover {
    background-color: #333;
  }
  