/* styles/graybutton.css */

.gray-button {
    background-color: #d3d3d3; /* Light gray (gray feteh) */
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    
    transition: background-color 0.3s;
    border-radius: 4px;
  }
  
  .gray-button:hover {
    background-color: #c0c0c0;
  }
  
  .gray-button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  